<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
<audio hidden autoplay loop>
    <source src="static/asset/horror.wav" type="audio/wav">
    Browser Anda tidak mendukung elemen audio.
</audio>
    <header>
        <nav>
            <ul>
                <li><a href="#about">Tentang Saya</a></li>
                <li><a href="#experience">Pengalaman</a></li>
                <li><a href="#skills">Keahlian</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="about">
            <img src="static/asset/Rauf.png" alt="Ananda Rauf Maududi" style="width: 400px; height: 400px;">

            <h1>Ananda Rauf Maududi</h1>
            <p>As a fresh graduate from Universitas Bina Sarana Informatika with a major in Information Technology, I bring a dynamic and innovative approach to the tech industry. &nbsp;
                <p>My expertise spans across Web Development, Desktop App Development, and Mobile App Development, making me a versatile asset for any tech-driven company.<p>&nbsp;
                <p>Skills and Competencies:</p>&nbsp;
                <p>- Web Development: Prowcient in developing robust and scalable web applications using Flask and CodeIgniter frameworks. Experienced in creating dynamic websites and e-commerce solutions using WordPress CMS.<p>&nbsp;
                <p>- Desktop App Development: Skilled in designing and developing efwcient desktop applications using the .Net framework, ensuring high performance and seamless user experience.<p>&nbsp;
                <p>- Mobile App Development: Adept at creating engaging and functional mobile applications using Flutter, capable of delivering cross-platform solutions with a single codebase.<p>&nbsp;
            <p>Professional Attributes:</p>&nbsp;
            <p>- Innovative Problem-Solver: Able to think creatively and strategically to develop solutions that meet and exceed user expectations.</p>&nbsp;
            <p>- Quick Learner: Eager to continuously learn and adapt to new technologies and industry trends.&nbsp;</p>
            <p>- Detail-Oriented: Meticulous attention to detail to ensure the highest standards in code quality and user experience.<p>&nbsp;
            <p>- Team Player: Excellent collaboration skills with the ability to work effectively within cross-functional teams.<p>&nbsp;
            <p>- Time Management: Proven ability to manage multiple projects and meet tight deadlines without compromising on quality.</p>&nbsp;
            <p>I am excited to leverage my skills and passion for technology to contribute to innovative projects and drive success in a forward-thinking company.<p>
            <p><br></br>Regards, Ananda Rauf Maududi</br></p>&nbsp;
            <a href="static/cv/CV_Ananda Rauf Maududi(Nov 24).pdf" download class="btn">Download CV</a>
        </section>

        <section id="experience">
            <h2>Pengalaman Kerja</h2>
            <div class="experience-item">
                <h3>System Engineer</h3>
                <p>PT Tunas Ridean,Tbk - 10 October 2024 - 08 November 2024</p>
                <p>Under Contract PT MSBU Konsultan Indonesia</p>
                <p>Job Description:</p>
                <ul>
                    <li>1.Using Module Toyota BMW Addons Odoo 8, Customize and modify module Toyota BMW.</li>
                    <li>2.Develope new module Odoo 8,new modul is modul Product management.</li>
                    <li>3.Add feature module Product: Approval State: Confirm,Done, Rejected.</li>
                    <li>4.Develope new module Odoo, new module is Inherit Sale Order Porduct Management.</li>
                </ul>
            </div>
            <div class="experience-item">
                <h3>Staff IT Mobile Developer</h3>
                <p>PT Kreasindo Karya Abadi - 01 April 2024 - 10 May 2024</p>

                <p>Job Description:</p>
                <ul>
                    <li>1.Developed a client application named "Super Apps" and "Sim To Fly" using the Flutter framework and Riverpod for state management.</li>
                    <li>2.Customized the UI/UX design for the Home, Login, and Register screens to match the designs in Figma.</li>
                    <li>3.Created RESTful APIs using the Flutter http library.</li>
                    <li>4.Tested the Register API URL and the OTP Verification API URL using Postman.</li>
                    <li>5.Meeting team projects Super Apps,review UI UX and suggest new system.</li>
                </ul>
            </div>
            <div class="experience-item">
                <h3>Junior Python Programmer Freelance</h3>
                <p>PT Kalanara Group Indonesia - 02 Januari 2024 - 03 February.</p>
                <p>Outsourcing IT Company Government  Indonesian Kementrian Perhubungan Pusat Pusdatin(Pusat Data Informasi).</p>
                <p>Job Description:</p>
                <ul>
                    <li>1.Developed website Jasa Marga Gerbang with using Web Framework Flask</li>
                    <li>2.Web Crawling with using Selenium library Python</li>
                    <li>3.Get API Jasa Marga Gerbang,Get API Korlantas, and Get API KAI using Postman.</li>
                    <li>4.Get Multiple API Jasa Marga Gerbang Lalin, Get Multiple API Korlantas, and Get Multiple API KAI using Library Request,and Library Json.</li>
                    <li>5.Convert file Json API to CSV using Library Pandas.</li>
                    <li>6.Create database MYSQL Jasa Gerbang,Korlantas,and KAI</li>
                    <li>7.File CSV auto insert tabel database Jasa Marga Gerbang,database Korlantas,and databse KAI.</li>
                    <li>8.Automation running Schedule Python Script using Airflow.</li>
                    <li>9.Analyst Data with using Library PySpark and Library Pandas.</li>
                    <li>10.Manage Task Project with using Trello</li>
                </ul>
            </div>

        </section>

        <section id="skills">
            <h2>Keahlian</h2>
            <div class="skill-item">
                <p>Flask web framework</p>
                <div class="skill-bar">
                    <div class="skill-level" style="width: 85%;" data-level="85"></div>
                </div>
            </div>
            <div class="skill-item">
                <p>Sanic web framework</p>
                <div class="skill-bar">
                    <div class="skill-level" style="width: 45%;" data-level="45"></div>
                </div>
            </div>
			<div class="skill-item">
                <p>Visual Basic .Net</p>
                <div class="skill-bar">
                    <div class="skill-level" style="width: 90%;" data-level="90"></div>
                </div>
            </div>
			<div class="skill-item">
                <p>Wordpress</p>
                <div class="skill-bar">
                    <div class="skill-level" style="width: 95%;" data-level="95"></div>
                </div>
            </div>
            <!-- Tambahkan keahlian lainnya di sini -->
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Ananda Rauf Maududi. All rights reserved.</p>
    </footer>

    <script src="static/js/index.js"></script>
</body>
</html>

